# 고객 지원 등급 분류 폴더 ignore
4. AI-Competition/dacon/고객_지원_등급_분류/customer_support/
4. AI-Competition/dacon/고객_지원_등급_분류/data/
4. AI-Competition/dacon/고객_지원_등급_분류/__pycache__/
4. AI-Competition/dacon/고객_지원_등급_분류/train_result/
4. AI-Competition/dacon/고객_지원_등급_분류/train_results/
4. AI-Competition/dacon/고객_지원_등급_분류/*.png
4. AI-Competition/dacon/고객_지원_등급_분류/*.jpg
4. AI-Competition/dacon/고객_지원_등급_분류/*.jpeg
4. AI-Competition/dacon/고객_지원_등급_분류/*.csv
